@import "../../Components/Colors.module.css";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.division {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  margin: 0 0 1rem;
}
.subtitle {
  margin: 0 0 1rem;
}

.fields {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 0 2rem;
  margin: 0.5rem 0;
  height: 5rem;
  width: 5rem;
}

.info {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.checkbox {
  display: flex;
  align-items: center;
}

.remember {
  margin: 0 0.5rem 0 0;
}

.forgotPassword {
  color: yellowgreen;
}

.button {
  height: 3.5rem;
  width: 100%;
  margin: 0.5rem 0;
  background-color: var(--fourth-button-color);
}
