body {
  margin: 0;
}

.App {
  display: flex;
  height: 100vh;
}

.AppBody {
  flex-grow: 1;
  padding: 20px;
}

/* Add the following styles for the Sidebar */
.Sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  padding: 20px;
  height: 100%;
  overflow-y: auto;
}
